<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeffrey.testlocalnotification"
    android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <!-- declare the permission for security protection of our broadcast receiver -->
    <permission
        android:name="${applicationId}.permission.LocalNotification"
        android:protectionLevel="signatureOrSystem" />

    <!-- required permission to receive system boot complete broadcast -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver listening to broadcast event from OS, enforce "signature" permission! -->
        <receiver
            android:name=".notification.local.LocalNotificationServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="${applicationId}.permission.LocalNotification">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="START_LOCAL_NOTIFICATION_SERVICE"></action>
                <action android:name="WAKEUP_LOCAL_NOTIFICATION_SERVICE"></action>
                <action android:name="STOP_LOCAL_NOTIFICATION_SERVICE"></action>
            </intent-filter>
        </receiver>

        <!-- Declare the background local notification service -->
        <service
            android:name="com.jeffrey.testlocalnotification.notification.local.LocalNotificationService"
            android:label="Test Local Notification Service"
            android:icon="@mipmap/ic_launcher">
        </service>

    </application>

</manifest>