<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestHealthKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00ECF9EC1D8305D700A89E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00ECFA001D8305D700A89E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00ECFA0B1D8305D700A89E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
